/* 
    Document   : menu
    Created on : 07/05/2010, 08:24:30 PM
    Author     : Gustavo Leites
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#menu{
    text-align:left;
    margin: 0px auto;
    width:650px;
    position: relative;
    z-index: 100;

}

.divMenu{
    text-align:center;
    margin: 0px auto;
    width:650px;
}

.menu {
    list-style:none;
    text-align:center;
    width:750px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left:inherit;
}

.menu li {
/*margin:1px;*/
list-style:none;
margin-top:5px;
/*padding:0;
border:1px solid #CCCCCC;*/
float:left;
}

.menu li a {
display:block;
width:65px;
height: 10px;
/*text-decoration:none;*/
text-align:center;
font-size:11px;
/*color:#FFFFFF;
background-color:#646464;*/
}

/*.menu li a:hover {
color:#FFFFFF;
background-color:#000066;
cursor:pointer;
}*/


