/* 
    Document   : menu
    Created on : 07/05/2010, 08:24:30 PM
    Author     : Gustavo Leites
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#menu{
    text-align:center;
    margin: 0px auto;
    width:490px;
    position: relative;
    z-index: 100;

}

.divMenu{
    text-align:center;
    margin: 0px auto;
    width:490px;
}

.menu {
    list-style:none;
    text-align:center;
    width:550px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.menu li {
padding-right: 8px;
float:left;
}




